@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    background-color: #000;
    font-family: 'Anton', sans-serif;
}

text {
    font-size: 50px;
    stroke-width: 1;
    stroke: red;
}
